body {
    p {
        color: rgb(2, 46, 243);
        font-size: 26px;
        border: 1px;
        
    }
    div {
        color: blue;
        hyphens: auto;
        background-color: rgb(143, 250, 216);
        font-size: 26px;
    }

}